<a href="https://colab.research.google.com/github/fernandorangel2024/convertir_temperatura/blob/main/ejerciciosfor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# instrución repetitiva for

In [ ]:
# EJERCICIO 1: mostrar los numeros del 1 al 10 sin usar funciones repetitivas
 
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [14]:
# EJERCICIO 2: mostrar los numeros del 1 al 10, usando la instruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# EJERCICIO 3: mostrar los numeros del 1 al 10, usando la instrucción for en una lista como interable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [15]:
# EJERCICIO 4: mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range

for i in range(1,11):
  print(1)

1
1
1
1
1
1
1
1
1
1

In [19]:
# EJERCICIO 5: mostrar una frase 10 veces,usando la instrucción for y una lista
lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print("sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!")

sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!
sistemas, el mejorrrrrrrrrrrrrrrrrrrrrrrrrr!!!!!!!!!!

In [ ]:
# EJERCICIO 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de la semana

dias_semana = ["lu","ma","mi","ju","vi","sa","do"]
for i in dias_semana:
    print(1)

In [ ]:
# EJERCICIO 7 : mostrar una lista de distintps tipos de datos, usando for

lista = [1, 3.4, 9, True, "Nestor", 8, "Guanentá"]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingresar su nombre y mostrarle letra por letra, usando for

nombre = input("digite su nombre:")
for letra in nombre:
  print(letra)

In [16]:
# EJERCICIO 9 : ingresar su nombre y mostrarle letra por letra, usando for, cambiando la letra e por asterisco * a la vocal e

nombre = input("digite su nombre:")
for letra in nombre:
  if letra == "e":
    print("*")     
else:
      print(letra)

digite su nombre:david
d

In [ ]:
# EJERCICIO 10: ingresar su nombre  y mostrarlo letra por letra en mayuscula utilizando for

nombre = input("digite su nombre:")
for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: imprimir listas de numeros usando for y range

print("numeros del 0 al 9")
for i in range(1,11):
  print(i)

  print("numeros del 1 al 10")
  for i in range(1,11):
    print(i)
    
print(" 10 veces la frase")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i =" + str(i))

print("10 veces la frase i =")
for i in range(10):
  print(f"1 = {1}")

print("rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("convierte rango en lista a, y la muestra")
a = list(range (1000))
print(a)

# EJERCICIOS
1.Dada la siguiente lista de numeros, (20,21,30,41,50,51,201) mostrar en pantalla  solo los que no terminan en 1.

2.Mostrar 1000 veces la palabra "programacion".

3.Del coonjunto de cadenas [E,F,M,A] que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses. 

4.Leer un texto y determinar cuantas veces dicho texto contiene una de las vocales en minuscula y/o mayúscula.

In [ ]:
# EJERCICIO 1

numeros = [20,21,30,41,50,51,201]
for numero in numeros:
  if numero % 10 != 1:
    print(numero)

In [ ]:
# EJERCICIO 2

for i in range(1,1001):
  print("programación")

In [22]:
# EJERCICIO 3

list = ["E,F,M,A"]
meses_año =["Enero,Febrero,Marzo,Abril"]
E = "Enero"
F = "Febrero"
M = "Marzo"
A = "Abril"
for i in meses_año:
  print(i)

In [ ]:
# EJERCICIO  4

texto  = "Soy Davidcito el mas lindo"
vocales = "aeiouAEIOU"
contador = 0
for letra in texto:
  if letra in vocales:
    contador += 1
    print("el texto contiene:", contador, "vocales")